.rent {
    width: 80%;
    margin: auto;
    background-color: white;
    height: 1000px;
}

/* HeaderSection */
.headerSection {
    margin-top: 40px;
}

.description {
    color: "lightgray";
    font-size: "22px";
}

.tag {
    margin-right: 20px;
}

.box {
    display: flex;
}

/* left__introduce */
.left__introduce {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.ImageSection {
    width: 800px;
    height: 550px;
    border-radius: 20px;
}

.carousel {
    border-radius: 20px;
}

.carousel img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;

}

/* right__rent */
.right__rent {
    width: 30%;
}


.right__texture{
    border-bottom: 3px solid #5A8DFF;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.icons{
    display: flex;
    width: 100px;
    justify-content: space-around;
    font-size: 22px;
}

.icon_{
    margin-left: 20px;
}
.right__rent .right__title{
    font-size: 18px;
    font-weight: 600;
}


/* ant-carousel */
.ant-carousel .slick-dots li button{
    background-color: #f0f0f0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}