.section{
    display: flex;
    flex-direction: column;
}
.mapSection{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 1px solid black;
}
.map{
    justify-self: center;
    object-fit: cover;
    width: 40%;
}


.title{
    text-align: center;
    padding-top: 1rem;
    margin: 0;
}

.roomImg{
    padding: 4rem;
    margin-left: 4rem;
}

.roomDetail{
    justify-self: center;
    list-style: none;
}

.btnSeciton{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.btn{
    color: black;
    background-color: wheat;
    border-radius: 1rem;
    padding: 1rem;
    height: auto;
    margin: 5px;
}
.selection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* Modal Section */

.modal{
    width: 90%;
    margin: auto;
    background-color: white;
    height: 660px;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid lightblue;
    margin-bottom: 20px;
}

.rent__header{
    height: 58px;
    background-color: #5A8DFF;
    border-radius: 10px;
    color: white;
}
.rent__title{
    line-height: 58px; 
    font-size: 20px;   
    padding-left: 10px;
}

.selection{
    display: flex;
    
}
h3{
    margin-bottom: 0px;
}
.selection__room{
    flex-grow: 2;
    padding-left: 20px;
    height: 100px;
}
.selection__member{
    flex-grow: 1;
}
.selection__date{
    flex-grow: 1;
}

.h3{
    padding: 20px 0;
}