
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    height: auto;
    border-bottom: 0.5px solid rgb(24, 25, 47);
}
.title{
    color: white;
    margin: 0px;
    padding: 0px;
    align-self: center;
}
.img{
    position: relative;
    width: 180px;
    margin-left: 4rem;
}

.links{
    list-style: none;
    margin: 0;
}
.etc{
    list-style:none;
    margin: 0px;
    display: flex;
    align-items: center;
}
.etc li{
    display: inline-block;
    cursor: pointer;
    padding: 0 2rem;
    font-size: larger;
    font-style: oblique;
}
.etc li:hover{
    color: skyblue;
}
.links li{
    display: inline-block;
    padding: 2px 20px;
}

.navbtn{
    margin-left: 2px;
}

.navbtn:hover{
    text-decoration: none;
    color: greenyellow;
}
li,a,button {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.profile{
    color: darkgray;
}

/* Setting Modal */
.settingModal{
    position: absolute;
    width: 9rem;
    right: 3rem;
    top: 3rem;
    text-align: center;
    transition: all 200ms ease-in;
}

.setUI li{
    background-color: white;
    padding: 0.5rem;
    list-style: none;
    font-size: 20px;
    font-weight: 300;
    border: 0.5px dotted black;
    transition: all 200ms ease-in;
    
}
