
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: white;
    height: auto;
}
.title{
    color: white;
    margin: 0px;
    padding: 0px;
    align-self: center;
}
.img{
    background-color: white;
    position: relative;
    width: 180px;
    margin-left: 4rem;
}

.links{
    list-style: none;
    margin: 0;
}
.etc{
    list-style:none;
    margin: 0px;
    display: flex;
    align-items: center;
}
.etc li{
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
    font-size: larger;
    font-style: oblique안;
}
.etc li:hover{
    color: skyblue;
}
.links li{
    display: inline-block;
    padding: 2px 20px;
    background-color: white;
}
.navbtn:hover{
    text-decoration: none;
}
li,a,button {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.profile{
    color: darkgray;
}