@import '../../common/_colors.scss';

.contentWrap {
  width: 100%;
}

.contentArea {
  width: 1200px;
  margin: 25px auto 130px;

  .headerWrap {
    margin-bottom: 20px;

    h3 {
      font-size: 34px;
      font-weight: bold;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      font-size: 16px;
      color: #333;
      font-weight: bold;
      text-align: center;
      padding: 10px 0;
      background-color: $table-background;
      border-bottom: 1px solid #c2d4e7;
      border-top: 1px solid $HY-blue;
    }
  }
}

.bottomMenu {
  text-align: right;
  margin-top: 20px;

  button {
    padding: 3px 12px;
    font-size: 17px;
    background: black;
    color: white;
  }
}

.searchWrap {
  display: flex;
  margin-top: 30px;
  justify-content: center;

  input {
    width: 370px;
    height: 35px;
    padding: 3px 5px;
    margin-right: 5px;
    border: 1px solid rgb(167, 167, 167);
    &:focus {
      outline: 1px solid rgb(122, 122, 122);
    }
  }

  button {
    font-size: 23px;
    width: 70px;
    height: 35px;
    padding: 0px 3px;
    font-size: 18px;
    color: #fff;
    background-color: #2462a2;
  }
}
