@import '../../common/_colors.scss';

.contentWrap {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 110px;
  padding: 70px 0;
}

.contentArea {
  width: 1300px;
  margin: 0px auto;

  .headerWrap {
    padding-bottom: 10px;

    h3 {
      margin: 0;
      font-size: 34px;
      font-weight: bold;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      font-size: 15px;
      color: #333;
      font-weight: bold;
      text-align: center;
      padding: 10px 0;
      background-color: $table-background;
      border-top: 3px solid $HY-blue;
      border-bottom: 1px solid #e3e9ed;
    }
  }
}

.bottomMenu {
  text-align: right;
  padding-top: 20px;
}

.pagination {
  text-align: center;
}

.searchWrap {
  display: flex;
  height: 100px;
  padding-top: 30px;
  justify-content: center;
}
