.tableRow {
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
}

.tableRow:hover {
  background-color: #e3e9ed;
}

.tableRow a {
  font-size: 16px;
}

.tableRow a:hover {
  text-decoration: none;
  color: #333;
}

.tableRow td {
  padding: 7px 5px;
  font-size: 14px;
}

.number,
.department,
.date,
.views {
  text-align: center;
}
