.paging {
  display: flex;
  justify-content: center;
}

.paging a {
  display: block;
  margin: 0 2px;
  width: 26px;
  height: 26px;
  line-height: 28px;
  text-align: center;
  background-color: #fff;
  font-size: 15px;
  color: var(--text-color);
  text-decoration: none;
}

.paging .pprev {
  background: #f8f8f8 url('../../../../public/imgs/arrow/pprevArrow.png') no-repeat center center;
}

.paging .prev {
  background: #f8f8f8 url('../../../../public/imgs/arrow/prevArrow.png') no-repeat center center;
}

.paging .nnext {
  background: #f8f8f8 url('../../../../public/imgs/arrow/nnextArrow.png') no-repeat center center;
}

.paging .next {
  background: #f8f8f8 url('../../../../public/imgs/arrow/nextArrow.png') no-repeat center center;
}
