.steps_content {
    min-height: 200px;
    height: 400px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #598DFF;
    border-radius: 2px;
}

.steps_action {
    margin-top: 24px;
}