@mixin animation($name, $duration, $method) {
  animation: $name $duration $method;
}

@mixin keyframe($animation_name) {
  @keyframes #{$animation_name} {
    @content;
  }
}

.dropDownMenu {
  position: relative;
  width: 93px;
  label {
    padding: 5px;
    margin: 0;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    &:hover {
      cursor: pointer;
      outline: 1px solid #54b2ff;
      transition: all 0.3s;
    }
  }
}

.dropDown {
  display: none;
  margin: 0;
  position: absolute;
  min-width: 80px;
  padding: 4px 3px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  user-select: none;
  li {
    user-select: none;
    padding: 2px 4px;
    &:hover {
      cursor: pointer;
      background-color: rgb(217, 217, 217);
    }
  }
}

.fadeIn {
  display: block;

  @include keyframe(test) {
    0% {
      opacity: 0.3;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }
  @include animation(test, 0.1s, linear);
  li {
    @include keyframe(fadeInAnimation) {
      0% {
        opacity: 0.3;
      }

      50% {
        opacity: 0.5;
      }

      100% {
        opacity: 1;
      }
    }
    @include animation(fadeInAnimation, 0.1s, linear);
  }
}
