$mainColor: #5A8DFF;
$secondaryColor: #FF5A5A;
$tertiaryColor: #5AFF5A;
$quaternaryColor: #FF5AFF;
$quinaryColor: #5A5AFF;
$senaryColor: #FFA55A;
$borderColor : #5C5C5C;
$categorySize : 585px;

@font-face {
  font-family: 'Noto';
  src: url('./fonts/Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/ROTOBO/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
  }
}

// Department

.graphSection {
  width: 100%;
  height: 1000px;
  display: flex;
  background-color: makerLightGrey;
  border-bottom: 2px solid white;
  object-fit: cover;
  object-position: bottom;
  border-radius: 10px;
  overflow: visible;
  padding: 1px;
  background-position: center;
}

.department_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px;

  .block {
    font-size: 1.2rem;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: all 300ms ease-in;
    border-radius: 20px;

    &:hover {
      transform: scale(1.2);
    }
  }

  .linkDetails {
    font-family: 'Roboto';
    position: absolute;
    transform: translateY(120px);
    color: rgba(0, 0, 0, 0.888);
    font-size: larger;
    font-weight: 500;
    transition: all 200ms ease-in;
    text-decoration-style: none;
  }

  .logo {
    border-radius: 20px;
    cursor: pointer;
    margin: 3rem;
    scale: 1.2;
    width: 250px;
    /* transition: all 300ms ease-in; */
  }
}

// category

.category {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: bottom;
    margin-top: 50px;
    border-radius: 20px;

  }

  .step {
    width: 80%;
    padding: 40px 0px;
  }

  .h1 {
    font-family: "Noto";
    font-size: 26px;
    padding: 20px;
  }

  .category__check {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    border-top: 1.2px solid $borderColor;
    border-bottom: 1.2px solid $borderColor;

    .check__title {
      padding: 20px;
      font-size: 20px;
      background-color: #FAFAFA;

    }

    .check__list {
      padding-left: 50px;
    }

    .list__radio {
      .radio {
        padding: 0 40px;
      }
    }
  }

  .selection {
    display: flex;
    width: 80%;
    height: 1000px;
    margin-top: 30px;
    padding: 20px 0;
    // height: 600px;
    justify-content: center;

    .building {
      border: 0.5px solid $mainColor;
      border-radius: 5px;
      padding: 10px;
      width: 60%;
      height: $categorySize;
      overflow-y: scroll;

      ::-webkit-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }

      button {
        background-color: transparent;
        border: 0.5px solid $mainColor;
        border-radius: 5px;
        font-size: 16px;
        width: 30%;
        height: 170px;
        margin: 8px;
        cursor: pointer;

        &:hover {
          background-color: $mainColor;
        }
      }
    }

    .number {
      border: 0.5px solid $mainColor;
      border-radius: 5px;
      padding: 20px;
      width: 30%;
      height: $categorySize;
      margin-left: 5px;
      overflow-y: scroll;

      button {
        background-color: transparent;
        border: 0.5px solid $mainColor;
        border-radius: 5px;
        font-size: 16px;
        width: 90%;
        height: 50px;
        margin: 8px;
        cursor: pointer;

        &:hover {
          background-color: $mainColor;
        }
      }
    }

    .time {
      border: 0.5px solid $mainColor;
      border-radius: 5px;
      padding: 20px;
      width: 30%;
      height: $categorySize;
      margin-left: 5px;
      overflow-y: scroll;

      button {
        background-color: transparent;
        border: 0.5px solid $mainColor;
        border-radius: 5px;
        font-size: 16px;
        width: 90%;
        height: 40px;
        margin: 8px;
        cursor: pointer;

        &:hover {
          background-color: $mainColor;
        }
      }
    }
  }
}