:root {
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    

}

/* @font-face {
    font-family: korean;
    src: url(../NotoSansKR-Regular.otf);
} */
@font-face {
    font-family: english;
    src: url('./fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf');
}

/* @font-face {
    font-family: english;
    font-weight: 400;
    src: url('./fonts/ROBOTO/Roboto-Regular.ttf');
} */
* {
    font-family: english;
}
.ant-radio-button ant-radio-button-checked{
}