.postingArea {
  width: 700px;
  margin: 15px auto;
}

.titleInputWrap {
  margin: 5px auto;
  input {
    width: 100%;
    height: 35px;
    padding: 3px 7px;
    border: 1px solid rgb(167, 167, 167);
    &:focus {
      outline: 1px solid rgb(122, 122, 122);
    }
    &::placeholder {
      color: rgb(144, 144, 144);
      font-size: 15px;
    }
  }
}

.postBtnWrap {
  text-align: right;
  margin-top: 15px;

  button {
    border-radius: 5px;
    font-size: 23px;
    width: 70px;
    height: 40px;
    padding: 5px 3px;
    font-size: 18px;
    &:first-child {
      margin-right: 10px;
    }

    &:nth-child(2) {
      color: #fff;
      background-color: #2462a2;
    }
  }

  a,
  a:hover {
    color: #333;
  }
}
