.postingArea {
  width: 700px;
  margin: 15px auto;
}

.titleInputWrap {
  margin: 5px auto;
  input {
    height: 35px;
    &::placeholder {
      color: rgb(144, 144, 144);
      font-size: 15px;
    }
  }
}

.postBtnWrap {
  text-align: right;
  margin-top: 5px;
}
